<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <h2>All users</h2>
      <mat-list-item *ngFor="let item of users">
        <mat-icon>account_circle</mat-icon>
        <a mat-button color="primary" (click)="userPageValue(item)">{{item.firstname}} {{item.lastname}}</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-raised-button color="accent" (click)="opened=!opened">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
    <div class="container">
      <h1>User Page</h1>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{userNameValue}} {{userSurnameValue}}</mat-card-title>
          <mat-card-subtitle>{{userEmailValue}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541" alt="User Image">
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
