.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

h1{
  font-size: 8rem;
  text-align: center;
  margin-top: 1em;
  color: #ffd740;
}
p{
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3.4em;
  color:#673ab7
}
button{
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}
