$white: #fff;
li {
  display: inline-block;
  text-decoration: none;
}
ul {
  display: flex;
}

a {
  color: $white;
  text-decoration: none;
  margin-left: 1em;
  font-size: 1rem;
}
.router-link-active {
  border-bottom: 2px solid #ffd740;
  color: #ffd740;
}
button {
  margin-left: 3em;
}
